::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px transparent;border-radius: 10px;background-color: #282a3a;}
::-webkit-scrollbar-thumb {background: #777;}
::-webkit-scrollbar-thumb:hover { background: #bbb;}

.body {
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: #282a3a;
    padding-inline: 6%;
    padding-top: 3%;
}

.arreglo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100vh;
    width: 90%;
    background-color: #282a3a;
    overflow: scroll;
    scrollbar-track-color: red;
}

.tarjet {
    background: linear-gradient(180deg, rgba(251, 156, 63, 1) 0%, rgba(116, 70, 252, 1) 100%);
    width: 100%;
    height: 18%;
    border-radius: 15px;
    text-align: center;
    font-family: "Source Code Pro", monospace;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.info {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: "Source Code Pro", monospace;
    padding-left: 1.5rem;
}

.card {
    background-color: #eee;
    color: #111;
    height: 100vh;
    padding: 5%;
}

.square {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #111;
    border: 1px #999 solid;
    border-radius: 5px;
}

.square_icon {
    height: 3vh;
    width: auto;
    align-self: flex-start;   
}

.icon_container .square_icon:not(:nth-child(3)){
    margin-right: -15px;
}

.square_icon path {
    color: #111;
}

.square_title, .square_title h3{
    text-decoration: none;
    align-self: flex-start;
    color: #111;
}

.square_title h3:hover {
    color: rgb(14, 78, 217);
    text-decoration: underline;
}

.p {
    text-align: start;
    color: #111;
}

.p:last-child {
    color: rgb(14, 78, 217);
}

.card .square .p span {
    color: rgb(16, 139, 16);
}

.icon_container {
    display: flex;
    align-items: center;
}

.buttons_container {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.square_button{
    height: 5vh;
    padding-inline: 6%;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1%;
}

.square_button:nth-child(1){
    background-color: rgb(25, 88, 225);
}

.square_button:hover {
    background-color: red;
}
