*{
  color: #eee;
}

footer{
  width: 100%;
  height: 30vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
}

footer .body {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li{
  list-style: none;
}


h3 {
  font-size: 2rem;
  text-align: center;
}

p {
  width: 100%;
  text-align: center;
}

.list{
  width: 100%;
  display: flex;
  justify-content: center;
}

.icons{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.facebook, .google, .instagram, .github{
  height: 2.5rem;
  width: 2.5rem;
  transition: .5s all ease;
}

.facebook:hover, .google:hover, .instagram:hover, .github:hover {
  transform: translateY(-2vh);
}

.facebook:hover, .facebook:hover path{
  color: rgb(59, 107, 238);
  background-color: #eee;
  border-radius: 999px;
  border: 0px;
}

.google:hover,.google:hover path {
  color: rgb(224, 42, 10);
  background-color: #eee;
  border-radius: 999px;
}

.instagram:hover {
  color:#eee;
  background: linear-gradient(45deg, #ffae00, #b92727,#e24cc9);
  border-radius: 999px;

}

.github:hover, .github:hover path {
  color:#222;
  background-color: #eee;
  border-radius: 999px;

}