.article {
  width: 100%;
  height: 100vh;
}

.head {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background-image: url("../../assets/landing.png");
}

.title {
  font-size: 9rem;
  color: azure;
  z-index: 10;
}

.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 10px;
  gap: 6%;
  background-color: #282a3a;
  color: #eee;
}

.hacer {
  width: 60%;
  display: flex;
  gap: 2%;
  border-radius: 10px;
  box-shadow: 1px 15px 23px 12px rgba(26, 25, 25, 0.842);
  transition: all 0.5s ease;
}

.hacer:nth-child(2) {
  margin-left: 39%;
}

.inte {
  width: 20vw;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
}

.inte:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card_des {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding-top: 4%;
  padding-left: 0.12rem;
}

.card_pq {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding-top: 4%;
}

.body .hacer .card_des h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.body .hacer .card_des p {
  width: 95%;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  line-height: 25px;
}

.card-pq {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding-top: 4%;
}

.body .hacer .card_pq h4 {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
}

.body .hacer .card_pq p {
  padding-left: 5%;
  width: 95%;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  line-height: 25px;
}

.out {
  opacity: 0.2;
  transform: translateY(30vh);
}

.in {
  opacity: 1;
  transform: translateY(0vh);
}

.testimonios {
  height: 140vh;
  background-color: #282a3a;
  display: grid;
  padding-left: 15%;
  grid-template-columns: 2fr 2fr;
  gap: 10%;
}

.testi {
  background: linear-gradient(180deg,rgba(251, 156, 63, 1) 0%,rgba(116, 70, 252, 1) 100%);
  width: 50%;
  height: 90%;
  border-radius: 15px;
  text-align: center;
  font-family: "Source Code Pro", monospace;
}

.testi:nth-child(1):before,
.testi:nth-child(3):before {
  content: "";
  position: absolute;
  height: 35px;
  width: 50px;
  background: linear-gradient(180deg, #fb9c40, #f2974c);
  z-index: 100;
  left: 16.96%;
  border-top-right-radius: 15px;
}

.testi:nth-child(2):before,
.testi:nth-child(4):before {
  content: "";
  position: absolute;
  height: 35px;
  width: 50px;
  background: linear-gradient(180deg, #fb9c40, #f2974c);
  z-index: 100;
  left: 63.7%;
  border-top-right-radius: 15px;
}

.testi:nth-child(1)::after {
  content: "";
  position: absolute;
  height: 35px;
  transform: translateY(-56.95vh);
  width: 50px;
  background: linear-gradient(180deg, #fb9c40, #f2974c);
  z-index: 100;
  left: 29.55%;
  border-top-left-radius: 15px;
}

.testi:nth-child(2)::after {
  content: "";
  position: absolute;
  height: 35px;
  transform: translateY(-56.95vh);
  width: 50px;
  background: linear-gradient(180deg, #fb9c40, #f2974c);
  z-index: 100;
  right: 21.1%;
  border-top-left-radius: 15px;
}
.testi:nth-child(3)::after {
  content: "";
  position: absolute;
  height: 35px;
  transform: translateY(-55.7vh);
  width: 50px;
  background: linear-gradient(180deg, #fb9c40, #f2974c);
  z-index: 100;
  right: 67.9%;
  border-top-left-radius: 15px;
}
.testi:nth-child(4)::after {
  content: "";
  position: absolute;
  height: 35px;
  transform: translateY(-55.7vh);
  width: 50px;
  background: linear-gradient(180deg, #fb9c40, #f2974c);
  z-index: 100;
  right: 21.1%;
  border-top-left-radius: 15px;
}

.icon {
  display: flex;
  justify-content: center;
}

.i_user {
  font-size: 9rem;
  transform: translateY(-7vh);
  border: 9px solid #eee;
  border-radius: 9999px;
  background-color: #eee;
  z-index: 10;
}

.icon::after {
  content: "";
  position: absolute;
  transform: translateY(-8vh);
  z-index: 1;
  height: 10rem;
  width: 10rem;
  border: 15px solid #282a3a;
  border-radius: 9999px;
  background-color: #282a3a;
}

.icon::before {
  content: "";
  position: absolute;
  transform: translateY(-8vh);
  z-index: 10;
  height: 100px;
  width: 12vw;
  background-color: #282a3a;
}

.info {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Source Code Pro", monospace;
}

.card_descri {
  height: 80%;
  font-family: "Source Code Pro", monospace;
}

.p2 {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: "Source Code Pro", monospace;
}

.social_n {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

.min_icon {
    font-size: 3.5rem;
  color: #eee;
  transition: all .5s ease;
}

.min_icon:hover {
    transform: translateY(-15px);
}